form {
  background: #68a6fb;
  padding: 5px 30px 15px 30px;
  max-width: 500px;
  margin: 8px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 95%;
  border: 1px solid #CCC;
}

label {
  cursor: pointer;
  color: white;
}

.billing-address {
  display: none;
}

#billing-address-same:not(:checked)~.billing-address {
  display: block;  
}

.billing-address-same-checkbox {
  margin: 0;
  text-align: left;
}

label[for=billing-address-same] {
  display: inline;
}

input[type=checkbox] {
    display: inline;
    width: auto;
}