body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    padding: 25px 0;
}

.products-list {
    margin-bottom: 50px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.gallery .name {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
}

.gallery .desc {
    margin-top: 5px;
    text-align: center;
}

.gallery .price {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}

.add-to-cart-button {
    width: 80px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #0071ff;
    background-color: #56a1ff;
    margin-top: 5px;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#title h1 {
    text-align: center;
}

#shopping-cart {
    /*display: block;*/
    width: 600px;
    margin: 0 auto;
}

#title {
    display: block;
    width: 100%;
    background: #95a6d6;
    padding: 10px 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#cart-container {
    display: block;
    background: #fff;
    padding: 15px 0;
    border: 1px solid black;
}

#cart {
    display: block;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    color: #444;
}

#cart thead th {
    padding: 8px 0;
    font-weight: bold;
}

#cart thead th.product {
    width: 175px;
}

#cart thead th.quantity {
    width: 45px;
}

#cart thead th.description {
    width: 230px;
}

#cart thead th.cost {
    width: 130px;
}

#cart thead th.remove {
    width: 20px;
}

#cart tbody td {
    text-align: center;
    margin-top: 4px;
}

tr.productitm {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #d7dbe0;
}


#cart tbody td img.thumb {
    vertical-align: bottom;
    border: 1px solid #ddd;
    margin-bottom: 4px;
}

.qtyinput {
    width: 33px;
    height: 22px;
    border: 1px solid #a3b8d3;
    background: #dae4eb;
    color: #616161;
    text-align: center;
}

.remove {
    cursor: pointer;
    position: relative;
    right: 12px;
    top: 5px;
}

.total {
    color: #888b8d;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
    font-size: 1.1em;
    font-weight: normal;
}

.total-amount {
    color: #272727;
    font-size: 1.7em;
    font-weight: bold;
}

tr.checkoutrow {
    background: #cfdae8;
    border-top: 1px solid #abc0db;
    border-bottom: 1px solid #abc0db;
}

td.checkout {
    padding: 12px 0;
    padding-top: 20px;
    width: 100%;
    text-align: right;
}

.remove-button, .add-promo-button {
    width: 60px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #0071ff;
    background-color: #56a1ff;
}

.cart-footer-button {
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #0071ff;
    background-color: #56a1ff;
}

.cart-footer-button:hover {
    background-color: #5690ff;
}

.cart-footer-button:active {
    border-bottom: 2px solid black;
}

.keep-shopping {
    margin-right: 25px;
}

tr.promo-code {
    background: #cfdae8;
    border-top: 1px solid #abc0db;
    border-bottom: 1px solid #abc0db;
}